body {
  font-family: Arial, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

input,
select,
textarea,
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 300px;
  font-family: monospace;
  white-space: pre-wrap;
  border: 1px solid #ccc;
}

ul {
  padding-left: 0;
  margin-bottom: 15px;
}

#listaReceitasPadrao li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
#listaReceitasPadrao li:hover {
  background-color: #eee;
}

.med-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #eee;
}

.btn {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-azul {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-azul:hover {
  background-color: #0056b3;
}

.btn-verde {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-verde:hover {
  background-color: #1e7e34;
}

.remove-btn {
  background-color: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: darkred;
}
